<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous" defer></script>
    <script src="{{url_for ('static', filename='js/main.js')}}" defer></script>
    <title>My Rooms</title>
</head>
<body>
    <header class="flex flex-row items-center justify-between  border divide-x-reverse-2 p-2 shadow-sm shadow-slate-700">
            <div class="flex flex-row items-center w-3/12 gap-4">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo image" class="logo h-[50px] w-[50px]"/>
                <h1 class="font-bold">Chat App</h1>
            </div>
                <div class="flex flex-row items-center justify-center mt-4 w-full gap-4">
                        <p class="font-bold text-black font-bold mx-4">Logged in as:</p>
                        <span class="text-indigo-700 font-sm font-md"> {{logged_user.username}}</span>
                </div>
            <nav class="flex flex-row items-center justify-between w-3/12">
                <ul class="flex flex-row justify-between w-full">
                    <li><span class="hover:text-indigo-900 text-indigo-600"><a href="/dashboard">Chat Room</a></li>
                    <li><span class="hover:text-slate-900 text-red-600"><a href="/users/logout">Logout</a></span></li>
                </ul>
            </nav>
        </header>
<main class="container flex flex-col w-full items-center justify-center mx-auto my-24 w-full h-screen bg-[url('../images/bg-item-3.jpg')] relative">
<div class="container flex flex-row w-full justify-between items-center p-4 m-4 gap-4">

    <div class="container border border-slate-100 relative rounded-lg flex flex-col justify-center bg-white h-96">
        <div class="h-full">
            <header class="flex flex-row items-center justify-center sticky top-0 bg-white text-black border rounded-t-lg divide-x-reverse-2 mb-16 p-2 shadow-sm shadow-slate-700">
                <h2>Create Room</h2>
            </header>
            <div class="container flex flex-col justify-center items-center">
                <form action="/rooms/create" method="POST" class="flex items-center gap-4">
                    <label for="name">Room Name</label>
                    <input type="text" name="name" id="name" class="border border-slate-300 rounded-lg text-slate-600">
                    <input type="checkbox" name="private" id="private">
                    <label for="private">Private</label>
                    <button type="submit" id="createBtn" class="bg-indigo-600 hover:bg-indigo-300 rounded-lg text-white p-2 text-center">Create</button>
                </form>
            </div>
        </div>
    </div>

</div>
</main>
<footer class="flex flex-row items-center justify-between absolute sticky bottom-0  border divide-x-reverse-2 p-2 shadow-sm shadow-slate-700 bg-white">
        <div class="flex flex-row items-center w-3/12 gap-4">
            <p class="font-bold">&copy; </p>
            <span class="flex flex-row text-[#788dba]">
                <img src="{{url_for('static', filename='images/footer_logo.png')}}" alt="logo image" class="logo h-[20px] w-[20px]"/>
                erspectivedev
            </span>
        </div>
            <h1 class="font-bold">Chat App</h1>
</footer>
</body>
</html>