{# <!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous" defer></script>
    <script src="{{url_for ('static', filename='js/main.js')}}" defer></script>
    <title>My Rooms</title>
</head>
<body class="">
        <header class="flex flex-row items-center justify-between  border divide-x-reverse-2 p-2 shadow-sm shadow-slate-700">
            <div class="flex flex-row items-center w-3/12 gap-4">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo image" class="logo h-[50px] w-[50px]"/>
                <h1 class="font-bold">Chat App</h1>
            </div>
            <div class="flex flex-row gap-4 items-center justify-center">
                <label class="">search:</label>
                <input type="text" class="border border-slate-300 rounded-lg"/>
            </div>
            <nav class="flex flex-row items-center justify-between w-3/12">
                <ul class="flex flex-row justify-between w-full">
                    <li><span class="hover:text-indigo-900 text-indigo-600"><a href="/my_rooms">My Rooms</a></li>
                    <li><span class="hover:text-slate-900 text-red-600"><a href="/users/logout">Logout</a></span></li>
                </ul>
            </nav>
        </header>
            <main class="container flex flex-col w-full items-center justify-center mx-auto mt-24 w-full bg-[url('../images/bg-item-3.jpg')]">
                <div class="flex flex-row items-center justify-center mt-4 w-full gap-4">
                    <p class="font-bold text-white mx-4">Logged in as:</p>
                    <span class="text-indigo-700 font-sm font-md"> {{logged_user.username}}</span>
                </div>

                
    <div class="container rounded-lg flex flex-col justify-center relative bg-slate-600 h-96">
        <div class="h-full">
            <header class="flex flex-row items-center justify-center sticky top-0 bg-slate-600 text-white border border-slate-100 rounded-t-lg divide-x-reverse-2 mb-16 p-2 shadow-sm shadow-slate-700">
            <h2>My Private Rooms</h2>
            </header>
            <!-- under construction -->
            <div class="container bg-slate-600 flex flex-col justify-center w-full">
                    <div class="flex flex-col items-center justify-center text-white">
                        <form>
                        <button type="submit" class="bg-red-600 hover:bg-red-300 text-white p-2 rounded-lg">Delete</button>
                        </form>
                    </div>
                    <div class="flex flex-col items-center justify-center text-white">
                        <p>Room Name</p>
                        {% for public_room in public %}
                            <p>{{public_room.name}} joined</p>
                        {% endfor %}
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <form>
                            <label for="invitee_id" class="text-white">Invite:</label>
                            <select name="invitee_id" id="invitee_id">
                                {% for public_room in public %}
                                    <option value="test">{{public_room.name}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="bg-indigo-600 hover:bg-indigo-300 rounded-lg text-white p-2 text-center">Invite</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>

    <div class="container border border-slate-100 rounded-lg flex flex-col justify-center bg-white h-96">
        <div class="h-full">
            <header class="flex flex-row items-center justify-center sticky top-0 bg-white text-black border rounded-t-lg divide-x-reverse-2 mb-16 p-2 shadow-sm shadow-slate-700">
                <h2>My Public Rooms</h2>
            </header>
            <div class="container bg-slate-600" id="joined{{room_id}}">
            {% for public_room in public.joined_rooms %}
                <form action="/rooms/{{public_room.id}}/delete" method="POST"><button type="submit" class="btn">Delete</button></form>
                <p>{{public_room.name}}</p>
                <p>{{public_room.joined}} joined</p>
            {% endfor %}
            </div>
            <p>{{public.name}}</p>
            <p>{{public.joined}} joined</p>
        </div>
    </div>
            </main>
        </div>
        <footer class=""></footer>
</body>
</html> #}