[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.1.1"
flask-bcrypt = "*"
flash = "*"
pymysql = "*"
flask-socketio = "*"
greenlet = "*"
dnspython = "*"
six = "*"
gunicorn = "*"
eventlet = "*"
gevent = "*"
flask-assets = "==2.0"
pytailwindcss = "==0.1.4"

[dev-packages]

[requires]
python_version = "3.10"
