<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Teams</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_rooms.css') }}">
</head>
<body>
    <div class="container">
        <div class="section">
            <h2>Create Team</h2>
            <form action="/teams/create" method="post">
                <label for="team_name">Team Name</label>
                <input type="text" name="team_name" id="name">
                <input type="checkbox" name="private_room" id="private">
                <label for="private_room">Private</label>
                <button class="btn">Create</button>
            </form>
        </div>
        <div class="section">
            <h2>My Private Teams</h2>
            <!-- under construction -->
            <div class="subsection">
                <form action=""><button class="btn">Delete</button></form>
                <p>Team Name</p>
                <p>1 joined</p>
                <form action="">
                    <label for="invite_id">Invite:</label>
                    <select name="invite_id" id="invite_id">
                        <option value="test">Test User</option>
                    </select>
                    <button class="btn">Invite</button>
                </form>
            </div>

        </div>
        <div class="section">
            <h2>My Public Teams</h2>
            {% for public_team in public_teams %}
            <div class="subsection">
                <form action="/teams/{{public_team.id}}/delete" method="post"><button class="btn">Delete</button></form>
                <p>{{public_team.team_name}}</p>
                <p>{{public_team.joined}} joined</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="nav">
        <p>Logged in as: {{logged_user.username}}</p>
        <form action="/dashboard">
            <button class="btn">Chat</button>
        </form>
        <form action="/users/logout">
            <button class="btn">Log Out</button>
        </form>
</div>
</body>
</html>