*{
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgba(0,0,0,0.6);
    padding: 1.5rem;
    height: 70vh;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.span1 {
    color: darkblue;
    font-size: 2rem;
    font-family: fantasy;
}
.span2 {
    color: dodgerblue;
    font-size: 1.725rem;
    font-family: fantasy;
}
.span3 {
    color: skyblue;
    font-size: 2rem;
    font-weight: 300;
    font-family: fantasy;
}



.search-bar {
    text-align: center;
    border-radius: 8px;
    padding: .275rem;
}

.nav-list {
    display: flex;
}

.nav-list > li {
    list-style: none;
    margin: .5rem;
    cursor: pointer;
}

.err-msg {
    color: red;
}

.reg, .log {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    background: rgba(0,0,0,0.6);
    padding: .875rem;
    border-radius: 8px;
    box-shadow: 1px 2px 1px #999;
}

.form-ctrl {
    border: none;
    border-radius: 8px;
    padding: .375rem;
}

.user-dashboard-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    background: rgb(75, 0, 130);
    color: white;
    margin-top: .5rem;
    border-radius: 8px;
    padding: .375rem;
}

.btn:hover {
    background: rgba(75, 0, 130, 0.4)
}

.bg-img {
    background-image: url("/static/images/bg_cah.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-img2 {
    background-image: url("/static/images/bg_cah2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.user-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.current-chat {
    border: 1px solid rgba(0,0,0,0.6);
    background:rgba(75, 0, 130, 0.4);
    border-radius: 8px;
}

.site-footer {
    display: flex;
    position: absolute;
    bottom: 0%;
    border: 2px solid rgba(0,0,0,0.6);
    width: 100%;
}

.git-link {
    width: 26px;
    height: 26px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
}